button {
  padding: 12px 52px;
  border-radius: 25px;
  border: none;
  background-color: royalblue;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.signin {
  button {
    padding: 12px 40px;
    background-color: transparent;
    color: white;
  }
}
.signup {
  button {
    padding: 16px 32px;
    background-color: rgb(122, 164, 247);
  }
}
.contact {
  button {
    padding: 16px 24px;
  }
}
.grow-business {
  button {
    background-color: rgb(250, 113, 136);
  }
}
.readmore {
  button {
    transition: 250ms ease;
    &:hover {
      background-color: rgb(250, 113, 136);
    }
  }
}
