.servicecard {
  width: 320px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 3px gainsboro;
  border-radius: 8px;
  .icons {
    svg {
      color: rgb(0, 89, 255);
      font-size: 32px;
    }
  }
  .name {
    p {
      margin: 0;
      font-size: 24px;
      font-weight: 600;
    }
  }
  .details {
    text-align: justify;
    span {
      color: #888888;
    }
  }
}
