.heropage {
  position: relative;
  overflow: hidden;
  height: 100vh;
  .backDrop {
    height: 830px;
    background-color: royalblue;
    z-index: -1;
    position: absolute;
    bottom: 0;
    top: -200px;
    right: -200px;
    width: 850px;
    border-radius: 100%;
    animation-name: backdrop;
    animation-duration: 2s;
  }
  .heropage_desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    margin-top: 60px;
    .image {
      img {
        position: absolute;
        animation-name: heroimage;
        animation-duration: 2s;
        top: 100px;
        right: 150px;
        height: 550px;
        width: 350px;
      }
    }
    .details {
      display: flex;
      flex-direction: column;
      gap: 32px;
      width: 550px;
      animation-name: details;
      animation-duration: 2s;
      .slogan {
        h2 {
          font-size: 48px;
          font-weight: 600;
        }
      }
      .desc {
        p {
          color: #888888;
          font-size: 20px;
          line-height: 1.3;
        }
      }
      .contact {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        gap: 32px;
        .call {
          p {
            font-size: 20px;
            &:nth-child(1) {
              font-weight: 600;
            }
            &:nth-child(2) {
              color: #888888;
            }
          }
        }
      }
    }
  }
}
//animation for details in heropage
@keyframes details {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes heroimage {
  from {
    top: 0px;
    right: 150px;
    opacity: 0;
  }
  to {
    top: 100px;
    right: 150px;
  }
}
@keyframes backdrop {
  from {
    bottom: 0;
    top: -400px;
    right: -400px;
  }
  to {
    bottom: 0;
    top: -200px;
    right: -200px;
  }
}
